<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.activeauth.umcp.touchesapplication" >


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TouchActivitySelector"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScrollPackage.HorizontalScrollActivity"
            android:label="@string/title_activity_horizontal_scroll" >
        </activity>

        <activity
            android:name=".ScrollPackage.VerticalScrollActivity"
            android:label="@string/title_activity_vertical_scroll">
        </activity>

        <activity
            android:name=".TouchBaseActivity"
            android:label="@string/title_activity_touch_base" >
        </activity>

        <activity
            android:name=".PopupPackage.PopupActivity"
            android:label="@string/title_activity_popup" >
        </activity>

        <activity
            android:name=".FindingPackage.FindingActivity"
            android:label="@string/title_activity_find">
        </activity>

        <activity
            android:name=".PdfPackage.PDFReaderActivity"
            android:label="@string/title_activity_read">
        </activity>

    </application>

</manifest>
